@import 'normalize.css';
@import './variables.scss';

/******************************************************************************
 Defaults
 *****************************************************************************/

$default-link-color: $blue1;
$default-font-family: 'Helvetica Neue', 'Arial', Sans-Serif;
$default-font-color: $gray2;
$default-font-weight: 400;
$default-line-height: 1.375em;
$default-font-size: 14px;

:global {

/******************************************************************************
 RESETS
 *****************************************************************************/

  // remove link styling
  a:link,
  a:visited,
  a:active {
    text-decoration: inherit;
    color: inherit;
  }

  // http://www.paulirish.com/2012/box-sizing-border-box-ftw/
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  // remove input styling
  input, textarea{
    border: none;
    box-shadow: none;
    outline: none;
  }
  input:focus, textarea:focus {
    border: none;
    box-shadow: none;
  }

  pre {
    white-space: pre-wrap;
  }

  code {
    border-radius: 3px;
    font-family: monospace;
    font-size: 1em;
  }

  button {
    outline: none;
    border: none;
  }

  b { font-weight: 500 }

  hr {
    border: 0;
    height: 1px;
  }

  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  html, body {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  // custom for app mount
  #mount {
    height: 100%;
  }

/******************************************************************************
 TYPE
 *****************************************************************************/

  html {
    font-family: $default-font-family;
    color: $default-font-color;
    font-weight: $default-font-weight;
    font-size: $default-font-size;
    line-height: $default-line-height;
    font-smoothing: subpixel-antialiased;
  }

  p {
    line-height: 1.6;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $gray1;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.125em;
  }
}
