@import '~normalize.css';

/* ----------------- RESET ----------------- */
:global {
  a:link,
  a:visited,
  a:active {
    text-decoration: inherit;
    color: inherit;
  }

  // http://www.paulirish.com/2012/box-sizing-border-box-ftw/
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  // remove input styling
  input, textarea{
    border: none;
    box-shadow: none;
    outline: none;
  }
  input:focus, textarea:focus {
    border: none;
    box-shadow: none;
  }

  pre {
    white-space: pre-wrap;
  }

  code {
    border-radius: 3px;
    font-family: monospace;
    font-size: 1em;
  }

  button {
    outline: none;
    border: none;
  }

  b { font-weight: 500 }

  hr {
    border: 0;
    height: 1px;
  }

  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  html, body {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  html {
    font-family: 'Helvetica Neue', 'Arial', Sans-Serif;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.375em;
    letter-spacing: .02em;
    font-smoothing: subpixel-antialiased;
  }

  p {
    line-height: 1.85;
  }

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
    margin: 0;
    padding: 0;
    line-height: 1;
    weight: inherit;
  }

  h1 { font-size: 3em; }
  h2 { font-size: 2.25em; }
  h3 { font-size: 1.75em; }
  h4 { font-size: 1.125em; }
}
