@import './variables';

.fill-parent {
  width: 100%;
  height: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;

  .end {
    margin-top: auto;
    display: inherit;
    flex-direction: inherit;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;

  .end {
    margin-left: auto;
    display: inherit;
    flex-direction: inherit;
  }
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.cover-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin hoverBg($color) {
  transition: background-color .2s;

  &:hover {
    background-color: $color;
    transition: background-color .2s;
  }
}

@mixin hover($animation-time) {
  opacity: 1;
  transition: opacity $animation-time;

  &:hover {
    cursor: pointer;
    opacity: .7;
    transition: opacity $animation-time;
  }
}

@mixin page-width($max-width) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

@mixin margin-col($a, $b) {
  margin: $a $b;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin margin-row($a, $b) {
  margin: $a $b;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
