@import './variables';
@import './keyframes';

.fill-parent {
  width: 100%;
  height: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;

  .end {
    margin-top: auto;
    display: inherit;
    flex-direction: inherit;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;

  .end {
    margin-left: auto;
    display: inherit;
    flex-direction: inherit;
  }
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.fill-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hover {
  transition: opacity $fast-anim;

  &:hover {
    cursor: pointer;
    opacity: .7;
    transition: opacity $fast-anim;
  }
}

@mixin margin-col($a, $b) {
  margin: $a $b;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin margin-row($a, $b) {
  margin: $a $b;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
